.grid-and-aside-container{
  display: flex;

  
}
.homepageButton-trendingNow-container{
  display:inline-block;
  width:23%;
  height:20rem;
  margin-top: 20px;
  
}

.homepage-button{
  width: 100%;
  height:3.7rem;
  background-color: dodgerblue;
  color:white;
  border:none;
  border-radius: 20px;
  font-weight: 700;
  font-size:1.2rem;
 
}

.homepage-button:hover{
  background-color:rgb(0, 126, 253);
  cursor: pointer;
}

.oneliner-container{
  display:flex;
  align-items: center;
}

.trending-now-container{
  margin-top: 1rem;
  
}
.oneliner-container>img{
  height:2rem;
  width:.7rem;
  margin-right:.5rem;
}
.oneliner-container>img:hover {
  cursor: pointer;
}
.oneliner-container>p{
  font-size:1.2rem;
}

.trending-now-container{
  margin-top: 1rem;
}
.trending-now-container:hover{
  cursor: pointer;
}
.stories-for-you-container{
  margin:0;
  width:100%;
  border:2px solid blue;
  height:4%;
  align-items: flex-start;
}
.stories-for-you-container>p{
  margin-top:.3rem;
}


