.nav-selection{
  display:flex;
  align-items: center;
  margin-top:.5rem;
}
nav{
  width:200%;
  height:3.02rem;
  margin-right: 15rem;
  display: flex;
  align-items: center;
}
.mail-icon{
  height:2rem;
}
.navigation-unordered-list{
  list-style-type: none;
  padding:0;
}
.navigation-unordered-list>li{
  float:left;
}
.navigation-unordered-list>li:first-child{
  margin-left: .5rem;
}
#notFirstChild{
  margin-left: 2.75rem;
}
