.secondHalf-container{
  height:75vh;
  display: flex;
}
.story-articles-container{
  width:74%;
  height:100%;
  border:2px solid black;
  display: flex;
  flex-direction: column;
  margin-right:2rem;
}
.story-articles{
  height:12rem;
  border: 2px solid rgb(255, 111, 0);
}

.story-article-not-first{
  margin-top:2rem;
}


.aside-contents-container{
  width:23%;
  height:100%;
}
.weather-container{
  height:21%;
  
  
}



