.secondHalf-container{
  
  height:75vh;
  display: flex;

}
.story-articles-container{
  width:76.5%;
  height:100%;
  border:2px solid black;
  display: flex;
  flex-direction: column;
}
.story-articles{
  height:12rem;
  border: 2px solid rgb(255, 111, 0);
}

.story-article-not-first{
  margin-top:2rem;
}


.aside-contents-container{
  width:23%;
  height:100%;
}
.weather-container{
  height:21%;
  border: 2px solid green;
  
}

.scoreboard-container{
margin-top:2rem;
height:50%;
border:2px solid green;
}

/*=================*/

.weather-locator-container{
  height:20%;
  border:1px dotted black;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.weather-forecast-container{
  height:60%;
  border:1px dotted black;
}
.SeeMore{
  margin-top:.5rem;
  color:dodgerblue;
}

.SeeMore:hover{
  cursor: pointer;
  color:blueviolet;
}

.locatorImage{
  width:2rem;
}