.secondHalf-container{
  
  height:75vh;
  display: flex;

}
.story-articles-container{
  width:76.5%;
  height:100%;
  border:2px solid black;
  display: flex;
  flex-direction: column;
}
.story-articles{
  height:12rem;
  border: 2px solid rgb(255, 111, 0);
}

.story-article-not-first{
  margin-top:2rem;
}


.aside-contents-container{
  width:23%;
  height:100%;
}
.weather-container{
  height:21%;
  
  
}



/*=================*/

.weather-locator-container{
  height:20%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.weather-forecast-container{
  height:65%;
  
  display:flex;
}
.individual-weather-forecast{
  width:25%;
  height:100%;
 
}

.forecastImage{
  height:4.5rem;
}

#temps{
  margin-top: .75rem;
}

.SeeMore,.MoreScores{
  margin-top:.7rem;
  color:dodgerblue;
}

.SeeMore:hover, .MoreScores:hover{
  cursor: pointer;
  color:blueviolet;
}

.locatorImage{
  width:2rem;
}

#location:hover{
color:blueviolet;
cursor:pointer;
}
.not-first-containers{
  display:flex;
  flex-direction: column;
  align-items: center;
}

/*====Scoreboard CSS===========*/

.scoreboard-container{
  margin-top:2rem;
  height:50%;
  border:2px solid green;
  }

  .scoreboard-trending-container{
    height:10%;
    border:1px dotted black;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }