.story-articles>div{
  height:100%;
 
}
.child2,.child3{
  width:40%;
}


.thumbnail{
  height:100%;
  
  border-radius:5px;
}


.child2{
  display:flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.child2:hover>.bodyText{
  color:blueviolet;
  cursor:pointer;
}

.title{
  height:auto;
}
.bodyText{
  height:auto;
  font-size: 1.5rem;
  line-height: 2rem;
}
.misc{
  margin-top:.5rem;
}

.article1,.article2{
  height:50%;
  
  display:flex;
}


.text-container{
  width:75%;
  height:100%;
 
}
.image-container{
  height:100%;
  width:25%;
  
}

.image-container>img{
 height:80%;
 border-radius: 5px;

}



.Headline{
  font-size: 1rem;
  line-height: 1.1rem;
}

.company{
  margin-top:1rem;
  color:grey;
}